<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>LIBRERÍA VIRTUAL</span>
  <span class="example-spacer"></span>
  <button [routerLink]="['/newBook']" class="btn-agregar" color="black" mat-button>Agregar libro</button>

</mat-toolbar>

<mat-grid-list cols="4" rowHeight="250px">
  <mat-grid-tile *ngFor="let book of listBooks; index as i">
    <mat-card>
      <img class="imagen2" mat-card-md-image src="{{ listBooks[i].imagen }}" />
      <div class="container">
        <h1 class="titulo-libro">{{ listBooks[i].titulo }}</h1>
        <p>
          {{ listBooks[i].sinopsis }}
        </p>
        <button mat-icon-button>
          <mat-icon style="color: rgb(55, 55, 143)" >editar</mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon style="color: rgb(188, 30, 30)">delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
