mat-grid-list {
  margin: 20px;
}
.imagen2 {
  width: 40%;
  height: 100%;
}
mat-card {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: row;
  background: rgb(219, 230, 249);
  margin: 0;
  border: black solid 1px;
}
.container {
  width: 60%;
  text-align: center;
  padding-left: 10px;
}
.titulo-libro {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
mat-toolbar {
  background-color: rgb(219, 230, 249);
}
