<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
</head>

<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <img
      class="logo"
      src="../../../../assets/images/logo-removebg-preview.png"
      alt=""
    />
  </button>
  <span>LIBRERÍA VIRTUAL BOOKIS</span>
  <span class="example-spacer"></span>
  <button
    [routerLink]="['/newBook']"
    class="btn-agregar"
    color="black"
    mat-button
  >
    Agregar libro
  </button>
</mat-toolbar>

<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../../assets/images/slide1.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../../assets/images/slide3.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../../assets/images/slide2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="caja-titulo">
  <h1 class="titulo-libros">Libros</h1>
  <button
    [routerLink]="['/detalles']"
    class="btn-detalles"
    color="black"
    mat-button
  >
    Ver detalle de los libros
  </button>
</div>

<div *ngIf="listBooks.length > 0">
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile *ngFor="let book of listBooks; index as i">
      <mat-card>
        <img
          class="imagen2"
          mat-card-md-image
          src="{{ listBooks[i].imagen }}"
        />
        <div class="container">
          <h1 class="titulo-libro">{{ listBooks[i].titulo }}</h1>
          <p>
            {{ listBooks[i].sinopsis }}
          </p>
          <p class="price">
            {{ "S/." + listBooks[i].precio }}
          </p>
          <div class="botones">
            <button
              [routerLink]="['/pago']"
              class="btn-comprar"
              color="black"
              mat-button
            >
              Comprar
            </button>

            <!-- <button
              [routerLink]="['/detalles']"
              class="btn-detalles"
              color="black"
              mat-button
            >
              <img
                src="../../../../assets/images/arrow-right-s-line.png"
                alt=""
              />
            </button> -->
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<h2 *ngIf="listBooks.length == 0">No hay libros para mostrar</h2>

<footer></footer>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
  integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
  crossorigin="anonymous"
></script>
