mat-grid-list {
  margin: 20px;
}
#carouselExampleControls img {
  width: 100%;
  height: 400px;
}
.imagen2 {
  width: 40%;
  height: 100%;
}
mat-card {
  width: 85%;
  height: 270px;
  display: flex;
  flex-direction: row;
  background: rgb(219, 230, 249);
  border: rgb(79, 101, 137) solid 1px;
  margin: 25px 5px;
}
.container {
  width: 60%;
  text-align: center;
  padding-left: 10px;
}
.titulo-libro {
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
p {
  font-size: 15px;
}
.price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
mat-toolbar {
  background-color: rgb(219, 230, 249);
}

.caja-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 52px;
  padding-top: 20px;
}

footer {
  height: 30px;
  background-color: black;
}
.logo {
  width: 40px;
}
span {
  font-family: "Maven Pro", sans-serif;
  font-style: oblique;
  font-weight: bold;
}
.btn-agregar {
  border: 2px solid rgba(104, 125, 159, 0.486);
  position: absolute;
  left: 90%;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-comprar {
  background-color: rgba(57, 70, 90, 0.486);
}
.btn-detalles {
  /* width: 40px;
  border-radius: 5px;
  border: 1px solid rgba(57, 70, 90, 0.486);*/
  background-color: rgba(57, 70, 90, 0.486);
  height: 40px;
  width: 200px;
}
.titulo-libros {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
