.container {
  justify-content: center;
  background:rgb(219, 230, 249);
  border: rgb(79, 101, 137) solid 1px;
  height: 500px;
  width: 350px;
  border-radius: 30px;
  padding: 40px 30px;
  margin: 20px 430px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 35px;
  color: rgb(27, 27, 27);
  font-weight: bold;
}
.register {
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: rgb(27, 27, 27);
  color: #ffff;
  display: flex;
  justify-content: center;
  width: 290px;
  height: 40px;
  font-size: 15px;
  margin-top: 35px;
  margin-left: 25px;
}


.caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
label {
  height: 25px;
  width: 70px;
  text-align: left;
  align-content: center;
  padding: 10px 8px;
  /* padding-top: 10px;
  padding-left: 100x; */
  border-radius: 2px;
  background-color: rgb(27, 27, 27);
  color: #ffff;
  margin-right: 0;
  font-size: 15px;
}
input {
  border-radius: 2px;
  height: 40px;
  width: 200px;
  margin-left: 0;
  font-size: 17px;
}
